In [1]:
# !pip install supabase

In [ ]:
from supabase import create_client, Client
from dotenv import load_dotenv
load_dotenv(override=True)
import os

url: str = os.getenv("SUPABASE_URL", "")

key: str = os.getenv("SUPABASE_KEY", "")

supabase: Client = create_client(url, key)

In [2]:
# Direto pelo SQL do SUPABASE

"""
create table if not exists carros (
    id serial primary key,
    placa text not null,
    modelo text not null,
    cor text not null,
    hora_entrada timestamp not null,
    hora_saida timestamp
);
"""

'\ncreate table if not exists carros (\n    id serial primary key,\n    placa text not null,\n    modelo text not null,\n    cor text not null,\n    hora_entrada timestamp not null,\n    hora_saida timestamp\n);\n'

In [ ]:
from datetime import datetime

dados_carros = [
    {
        "placa": "ABC1234",
        "modelo": "Fiat Uno",
        "cor": "Vermelho",
        "hora_entrada": datetime(2025, 6, 3, 8, 30).isoformat(),
        "hora_saida": None
    },
    {
        "placa": "XYZ9876",
        "modelo": "Toyota Corolla",
        "cor": "Preto",
        "hora_entrada": datetime(2025, 6, 3, 9, 15).isoformat(),
        "hora_saida": datetime(2025, 6, 3, 12, 45).isoformat()
    }
]

# Inserir os dados
response = supabase.table("carros").insert(dados_carros).execute()

# Ver resposta da API
print(response)

In [3]:
# Ler os dados inseridos
response = supabase.table("carros").select("*").execute()
# Ver resposta da API
print(response)

data=[{'id': 1, 'placa': 'ABC1234', 'modelo': 'Fiat Uno', 'cor': 'Vermelho', 'hora_entrada': '2025-06-03T08:30:00', 'hora_saida': None}, {'id': 2, 'placa': 'XYZ9876', 'modelo': 'Toyota Corolla', 'cor': 'Preto', 'hora_entrada': '2025-06-03T09:15:00', 'hora_saida': '2025-06-03T12:45:00'}] count=None